* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans';
  /* border: none; */
}

:root {
  /* primary colors */
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  /* neutral colors */
  --Dark-gray: hsl(0, 0%, 59%);
  --Font-size-name-stats: 18px;
}
.position {
  position: relative;
}
body {
  background: var(--Dark-cyan);
  padding: 100px 40px;
  width: 100%;
}
.bg-top{
  background: url("./images/bg-pattern-top.svg") no-repeat;
  background-size: cover;
  height: 350px;
  width: 70%;
  rotate: 180deg;
  position: absolute;
  top: -100px;
  right: 65%;
}
.container {
  width: 100%;
  z-index: 1;
}
.header-design {
  max-width: 400px;
}
.header-design img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card-content {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 40px;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin-top: -5px;
  border-radius: 0 0 10px 10px;

}
.card-content img {
  border-radius: 50%;
  width: 50%;
  border: 6px solid white;
  margin-top: -100px;
}
.line {
  height: 2px;
  width: 337px;
  background: hsla(0, 0%, 59%, .2);;
  font-weight: 100;
}
h1 {
  font-size: 20px;
  font-weight: 700;
  color: var(--Very-dark-desaturated-blue);
}
h2 {
  font-size: 20px;
  color: var(--Very-dark-desaturated-blue);
}
strong {
  color: var(--Dark-gray);
  font-weight: 100;
}
span {
  display: block;
  margin-top: 10px;
  font-weight: 100;
  color: var(--Dark-gray);
  font-size: 18px;
}
.ratings {
  display: flex;
  gap: 40px;
}
.bg-bottom {
  background: url("./images/bg-pattern-bottom.svg") no-repeat;
  background-size: cover;
  height: 200px;
  width: 70%;
  position: absolute;
  rotate: 270deg;
  top: 50%;
  left: 39%;
  bottom: 0;
  z-index: -1;
}
@media only screen and (min-width: 620px) {
  *{
    border: 2px solid gray;
  }
  .header-design {
    margin: 50px auto;
  }
  .top{
    background: url("./images/bg-pattern-top.svg") no-repeat;
    background-size: cover;
    height: 750px;
    bottom: 250px;
    right: 60%;
  }
  .bottom {
    background: url("./images/bg-pattern-bottom.svg") no-repeat;
      background-size: cover;
      height: 350px;
      width: 50%;
      rotate: -90deg;
      height: 70%;
      top: 470px;
      left: 54.5%;
      bottom: unset;
      z-index: -1;
    }
  
  .line {
    width: 400px;
  }
}